<!DOCTYPE html>
<html>

<head>
  <title>Lung Nudules Detection Based On Ct File-ShAn_3003</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.net/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    window.onload = function () {
      const urlParams = new URLSearchParams(window.location.search);
      const errorMessage = urlParams.get('error');
      if (errorMessage) {
        alert(errorMessage);
      }
    };
  </script>
</head>

<body>
  <div class="container">
    <h1 class="text-center">
      A Lung Nudules Detection System
      <small>--written by shanxie</small>
    </h1>
    <br>
    <div class="center-block">
      <form class="form-inline" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" id="dicom" name="dicomfile">
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success">
          we detect {{count}} Nudules ! Below is the visualized image
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Original Image File</h3>
          </div>
          <div class="panel-body">
            <img id="displayImage" src="{{origin_image_path}}" class="img-responsive" alt="Original CT File"
              width="100%" height="100%">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Detected LungNudules</h3>
          </div>
          <div class="panel-body">

            <img id="visualizedImage" src="{{visualized_image_path}}" class="img-responsive" alt="Original CT File"
              width="100%" height="100%">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Choose which nudule to view the detail.</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" method="post" action="/select">
              <div class="form-group">
                {% for i in range(count) %}
                <label class="radio">
                  <input type="radio" name="nodule" id="Nodule{{ i }}" value="Nodule{{ i }}" {% if i==0 %}checked{% end
                    %}> nodule{{ i }}
                </label>
                {% end %}
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-block btn-primary">confirm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Details</h3>
          </div>
          <div class="panel-body">
            <div>
              <img id="ChoosedImage" src="{{choosed_image_path}}" class="img-responsive" alt="detail" width="100%"
                height="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>