Asset
Data
Png
yolo
visualize_combined
augmented_yolo
augmented_yolo_1
*.csv
LungNudulesDetect
LND
LND5
augmented_yolo.zip
augmented_yolo_1.zip

static/predict
static/uploads
static/origin
static/details